@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
}

blockquote {
  background-color: white;
  border-left: 5px solid mediumslateblue;
  padding: 1rem 3rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
}

button {
  cursor: pointer;
}

hr {
  margin: 2rem 0;
  border: 1px solid whitesmoke;
}

form {
  background-color: white;
  box-shadow: 1 3px 11px rgba(0, 0, 0, 0.2);
  color: dimgray;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}

form label {
  font-weight: 300;
  margin: 1rem 0;
}

textarea {
  border: 0;
  border-bottom: 2px solid mediumslateblue;
  color: dimgray;
  font-size: 1rem;
  line-height: 1.2;
  width: 100%;
  resize: vertical;
}

select[multiple] {
  border: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
}

select[multiple] option {
  padding: 0.5rem 0.875rem;
  text-transform: capitalize;
}

select[multiple] option:hover {
  background-color: lavender;
}

select[multiple] option:focus,
select[multiple] option:active,
select[multiple] option:checked {
  background-color: plum;
}

input {
  border: 0;
  border-bottom: 2px solid mediumslateblue;
  color: dimgray;
  font-size: 1rem;
  line-height: 1.9;
  padding-left: 0.2rem;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
}

button {
  background-color: mediumslateblue;
  border: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5em 1.5em;
}

button:disabled {
  background-color: plum;
  cursor: not-allowed;
}

.box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;

  text-align: center;
}

.box--small {
  max-width: 300px;
  max-height: 300px;
}

.box__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.message {
  background-color: white;
  border-left: 5px solid mediumslateblue;
  padding: 0.5rem 3rem;
  font-weight: 300;
}

.btn {
  background: deeppink;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 mediumvioletred;
  color: white;
  font-weight: 600;
  padding: 0.2rem 1.5rem;
}

.btn--large {
  font-size: 2.5rem;
}

.stopwatch, .counter {
  background-color: white;
  border: 7px solid rgba(186, 85, 211, 0.315);
  border-radius: 50%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
  width: 10vmin;
  height: 10vmin;
}

.counter {
  font-size: 4rem;
  font-weight: 600;
}

.stopwatch__time {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 20%;
}

.stopwatch__time-unit {
  color: gray;
  font-size: 0.7em;
  margin-left: 0.3em;
}

.stopwatch__action--primary,
.stopwatch__action--secondary {
  border: 0;
  display: block;
  margin: 0.2em;
  padding: 0.2em 0.6em;
}

.stopwatch__action--primary {
  background-color: mediumorchid;
  color: white;
  font-size: 1.3rem;
}

.stopwatch__action--secondary {
  background-color: transparent;
  color: mediumorchid;
  font-size: 0.75rem;
}
