<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="global/styles.css">
    <title>Styling React Components (programatically)</title>
  </head>
  <body>
    <div id="root"></div>

    <!-- scripts -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/prop-types@15.6.0/prop-types.js"></script>
    <script crossorigin src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>

    <script type="text/babel">
    // demonstration on how the virtual DOM works in React
      const rootElement = document.getElementById('root')

      function Box({ style, size, className = '', ...rest }) {
        const sizeClass = size ? `box--${size}` : ''

        return (
          <div
            className={`box ${sizeClass} ${className}`.trim()}
            style={{ textTransform: 'capitalize', ...style }}
            {...rest} />
        )
      }
      const element = (
        <div>
          <Box
            size="small"
            style={{backgroundColor: 'gold'}}>
            small box
          </Box>
          <Box
            size="small"
            style={{backgroundColor: 'dodgerblue'}}>
            Box 2
          </Box>
          <Box
            style={{backgroundColor: 'coral'}}>
            Box 3
          </Box>
        </div>
      )

      ReactDOM.render(element, rootElement)
    </script>
  </body>
</html>